# =========================
# Virtual envs
# =========================
.venv/
venv/
.env/
*.env

# =========================
# Python / Bytecode
# =========================
__pycache__/
*.py[cod]
*.pyd
*.so
*$py.class

# =========================
# Jupyter / notebooks
# =========================
.ipynb_checkpoints/


# =========================
# Logs / runtime
# =========================
logs/
*.log

# -------------------------------------------------------------------
# Configs locais / segredos
# -------------------------------------------------------------------
.env
*.env
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# -------------------------------------------------------------------
# Arquivos de sistema
# -------------------------------------------------------------------
.DS_Store
Thumbs.db

# =========================
# Data layers (NÃO versionar)
# =========================
data/raw/
data/bronze/
data/silver/
data/gold/
data/gold_analytics/
data/gold_advanced/

# =========================================
# Mantém a estrutura das pastas no Git
# =========================================
#!data/**/.gitkeep
!data/.gitkeep
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# =========================
# Optional: build artifacts
# =========================
dist/
build/
*.egg-info/

# =========================================
# # Fim - 10/01/2026 13:42
# =========================================
