# -------------------------------------------------------------------
# Ambientes virtuais
# -------------------------------------------------------------------
.venv/
venv/
env/

# -------------------------------------------------------------------
# Arquivos Python compilados / cache
# -------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------------------------------------------
# Checkpoints de notebooks
# -------------------------------------------------------------------
.ipynb_checkpoints/

# -------------------------------------------------------------------
# Configs locais / segredos
# -------------------------------------------------------------------
.env
*.env
.env.*

# -------------------------------------------------------------------
# Pastas de IDEs / Editores
# -------------------------------------------------------------------
.vscode/
.idea/
*.code-workspace

# -------------------------------------------------------------------
# Arquivos de sistema
# -------------------------------------------------------------------
.DS_Store
Thumbs.db

# -------------------------------------------------------------------
# Dados locais (não versionar dados brutos ou processados)
# -------------------------------------------------------------------
data/raw/*
data/bronze/*
data/silver/*
data/gold/*

# Mantém a estrutura das pastas no Git
!data/.gitkeep
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
